<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  If you modify this template, do not forget to change the overwrite settings
  in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
      Private:
        Templates:
          Recipe:
            Focus.html: keep

  Otherwise your changes will be overwritten the next time you save the extension in the extension builder

  <f:section name="content">
    <div class="d-flex justify-content-center rounded bg-projet pt-1 mt-4" style="background-color: #e9e9e9;">
      <h1>Mise en valeur</h1>
    </div>
    <f:for each="{recipes}" as="recipe">
      <div class="frame frame-size-default frame-default frame-type-textpic frame-layout-embedded frame-background-light frame-no-backgroundimage">
        <div class="frame-group-container fond-recette">
          <div class="frame-group-inner">
            <div class="frame-container frame-container-default">
              <div class="frame-inner">
                <div class="textpic">
                  <div class="textpic-item textpic-gallery">
                    <div class="gallery-row">
                      <div class="gallery-item gallery-item-size-1">
                        <figure class="image">
                          <f:image image="{recipe.pictures}" />
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="textpic-item textpic-text">
                    <h1>{recipe.name}</h1>
                    <h5><em><small>
                      <p>Origine : {recipe.origin.name}</p>
                      <p>Type de plat : {recipe.dishType}</p>
                      <p>Temps de cuisson : {recipe.cookingTime}</p>
                      <p>Temps de préparation : {recipe.preparationTime}</p>
                      <p>Nombre de personnes : {recipe.nbPerson}</p>
                      <p>Difficulté : {recipe.difficulty}</p>
                      <p>Thème(s) :
                        <f:for each="{recipe.theme}" as="theme">
                          {theme.name}
                        </f:for>
                      </p>
                    </small></em></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </f:for>
  </f:section>
</html>
