<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Recipe:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>
        Liste des recettes <br/>

    </h1>
    <h3>Filtres :</h3>
    <f:if condition="{origin}">
        Origine : {origin.name}
    </f:if>
    <f:if condition="{typeOfDish}">
        Type de plat : {typeOfDish}
    </f:if>

    <f:flashMessages/>
    <f:for each="{recipes}" as="recipe">
        <div class="frame frame-size-default frame-default frame-type-textpic frame-layout-embedded frame-background-light frame-no-backgroundimage">
            <div class="frame-group-container fond-recette">
                <div class="frame-group-inner">
                    <div class="frame-container frame-container-default">
                        <div class="frame-inner">
                            <div class="textpic textpic-centered textpic-right">
                                <div class="textpic-item textpic-gallery">
                                    <div class="gallery-row">
                                        <div class="gallery-item gallery-item-size-1">
                                            <figure class="image">
                                                <picture>
                                                    <source data-variant="default" data-maxwidth="620"
                                                            media="(min-width: 1400px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="xlarge" data-maxwidth="530"
                                                            media="(min-width: 1200px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="large" data-maxwidth="440"
                                                            media="(min-width: 992px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="medium" data-maxwidth="320"
                                                            media="(min-width: 768px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="small" data-maxwidth="500"
                                                            media="(min-width: 576px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="extrasmall" data-maxwidth="374"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <img loading="lazy"
                                                         src="/public/fileadmin/user_upload/burger-frites.jpg"
                                                         intrinsicsize="1200x630" title="" alt="" width="1200"
                                                         height="630">
                                                </picture>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="textpic-item textpic-text">
                                    <h1>{recipe.name}</h1>
                                    <h5><em><small>
                                        <p>Origine :
                                            <f:link.action action="list" arguments="{origin : recipe.origin}">
                                                {recipe.origin.name}
                                            </f:link.action>
                                        </p>
                                        <p>Type de plat :
                                            <f:link.action action="list" arguments="{typeOfDish : recipe.dishType}">
                                                {recipe.dishType}
                                            </f:link.action>
                                        </p>
                                        <p>Temps de cuisson : {recipe.cookingTime}</p>
                                        <p>Temps de préparation : {recipe.preparationTime}</p>
                                        <p>Nombre de personnes : {recipe.nbPerson}</p>
                                        <p>Difficulté : {recipe.difficulty}</p>
                                        <p>Thème(s) :
                                            <f:for each="{recipe.theme}" as="theme">
                                                {theme.name}
                                            </f:for>
                                        </p>
                                    </small></em></h5>
                                    <hr>
                                    <h5><small><em>
                                        {recipe.steps}
                                    </em></small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:for>
</f:section>
</html>