<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Recipe:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Recipe</h1>

    <f:flashMessages />
        <f:for each="{recipes}" as="recipe">
            <div class="frame-group-container">
                <div class="frame-group-inner">
                    <div class="frame-container frame-container-default">
                        <div class="frame-inner">
                            <div class="textpic textpic-centered textpic-right">
                                <div class="textpic-item textpic-gallery">
                                    <div class="gallery-row">
                                        <div class="gallery-item gallery-item-size-1">
                                            <figure class="image">
                                                <picture>
                                                    <source data-variant="default" data-maxwidth="620"
                                                            media="(min-width: 1400px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="xlarge" data-maxwidth="530"
                                                            media="(min-width: 1200px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="large" data-maxwidth="440"
                                                            media="(min-width: 992px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="medium" data-maxwidth="320"
                                                            media="(min-width: 768px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="small" data-maxwidth="500"
                                                            media="(min-width: 576px)"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <source data-variant="extrasmall" data-maxwidth="374"
                                                            srcset="/public/fileadmin/user_upload/burger-frites.jpg 1x">
                                                    <img loading="lazy"
                                                         src="/public/fileadmin/user_upload/burger-frites.jpg"
                                                         intrinsicsize="1200x630" title="" alt="" width="1200" height="630">
                                                </picture>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="textpic-item textpic-text"><h5><em><small>Vous aimez cuisiner des recettes
                                    simples et rapides, ou au contraire raffinées, dignes des grands chefs ? Légères... ou
                                    gourmandes ? Classiques ou originales ? Quelque soit votre idée, vous trouverez
                                    forcément parmi nos meilleures recettes de quoi réaliser le menu idéal pour régaler vos
                                    proches. Bon appétit !</small></em></h5>
                                    <hr>
                                    <h5><small><em>Grâce à nos pages de cuisine thématique, vous retrouverez facilement des
                                        idées de&nbsp;<strong>recettes de saison</strong>, de&nbsp;<strong>cuisine
                                            Végétarienne</strong>,&nbsp;<strong>italienne</strong>,&nbsp;<strong>orientale</strong>…&nbsp;des
                                        recettes pour&nbsp;<strong>Noël</strong>, la&nbsp;<strong>Saint-Valentin</strong>,&nbsp;<strong>Halloween</strong>…
                                        mais aussi des idées de recettes sympa pour vos&nbsp;<strong>enfants</strong>. Vous
                                        allez enfin pouvoir cuisiner toutes vos envies ! Il ne vous reste plus qu’à vous
                                        laisser tenter&nbsp;!</em></small></h5></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    <f:link.action action="new">New Recipe</f:link.action>
</f:section>
</html>
