<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<head>
	<style type="text/css">
		.button-save {
			padding: 10px;
			margin-top: 10px;
			background-color: #acacac;
			color: black;
		}
	</style>
</head>
<div class="frame frame-size-default frame-default frame-type-textpic frame-layout-embedded frame-background-light frame-no-backgroundimage">
	<div class="frame-group-container fond-recette">
		<div class="frame-group-inner">
			<div class="frame-container frame-container-default">
				<div class="frame-inner">
					<div class="textpic textpic-centered textpic-right">
						<div class="textpic-item textpic-gallery">
							<div class="gallery-row">
								<div class="gallery-item gallery-item-size-1">
									<figure class="image">
										<f:image image="{recipe.pictures}" />
									</figure>
								</div>
							</div>
						</div>
						<div class="textpic-item textpic-text">
							<h1>{recipe.name}</h1>
							<h5><em><small>
								<p>Origine : {recipe.origin.name}</p>
								<p>Type de plat : {recipe.dishType}</p>
								<p>Temps de cuisson : {recipe.cookingTime}</p>
								<p>Temps de préparation : {recipe.preparationTime}</p>
								<p>Nombre de personnes : {recipe.nbPerson}</p>
								<p>Difficulté : {recipe.difficulty}</p>
								<p>Thème(s) :
									<f:for each="{recipe.theme}" as="theme">
										{theme.name}
									</f:for>
								</p>
							</small></em></h5>
							<hr>
							<h5><small><em class="etapes">
								{recipe.steps}
							</em></small></h5>
							<div class="d-flex flex-column align-items-center justify-content-center">
								<f:link.action action="new" arguments="{recipe : recipe}" class="button-save" controller="Review">Commenter</f:link.action>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="d-flex justify-content-center"><h2>Vous aurez besoin de vous munir de :</h2></div>
	<div class="d-flex justify-content-center">
		<div style="padding-right: 25%;">
			<label>Les ustencils : </label>
			<ul>
			<f:for each="{recipe.ustencils}" as="ustencil">
				<li>{ustencil.name}</li>
			</f:for>
			</ul>
		</div>
		<div>
			<label>Les ingrédients : </label>
			<ul>
				<f:for each="{recipe.ingredients}" as="ingredient">
					<li>{ingredient.ingredient.name} : {ingredient.quantity}g</li>
				</f:for>
			</ul>
		</div>
	</div>
</div>
<h1>Commentaire(s)</h1>
<div class="comment" name="comment">
	<f:if condition="{recipe.reviews}">
		<f:then>
			<f:for each="{recipe.reviews}" as="review">
				<div class="frame frame-size-default frame-default frame-type-textpic frame-layout-embedded frame-background-light frame-no-backgroundimage">
					<div class="frame-group-container fond-recette">
						<div class="frame-group-inner">
							<div class="frame-container frame-container-default">
								<div class="frame-inner">
									<div class="textpic textpic-centered textpic-right">
										<div class="textpic-item textpic-text">
											<h1>{review.title}</h1>
											<small><em>
												{review.content}
											</em></small><br>
											<small><em>
												Note : {review.grade}
											</em></small><br>
											<small><em>
												Ecrit par : {review.author}
											</em></small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</f:for>
		</f:then>
		<f:else>
			<h3>Aucun commentaire</h3>
		</f:else>
	</f:if>
</div>
<script>
	function removeTags(str) {
		if ((str===null) || (str===''))
			return false;
		else
			str = str.toString();

		// Regular expression to identify HTML tags in
		// the input string. Replacing the identified
		// HTML tag with a null string.
		return str.replace( /(<([^>]+)>)/ig, '');
	}

	window.addEventListener('load', event => {
		const elements = document.getElementsByClassName("etapes");
		elements[0].textContent = removeTags(elements[0].textContent);
		/*for (let item in elements){
			console.log(item);
			item.innerHTML = removeTags(item.innerHTML);
		}*/
	});

</script>
</html>
